.single-beer {
    border: 2px solid lightgray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 635px;
    
    img {
        width: 75px;
        height: auto;
    }
}