.beer-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
}