@import url('https://fonts.googleapis.com/css2?family=Jost&family=Nunito&family=Orbitron&family=Silkscreen&display=swap');

* {
    text-align: center;
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-family: Jost;
    background-color: rgb(243, 238, 238);
}


